# Bỏ qua môi trường ảo của Python
venv/
env/

# Bỏ qua các file dịch của Python
__pycache__/
*.pyc

# Bỏ qua cơ sở dữ liệu cục bộ (Rất quan trọng để không ai ghi đè DB của ai)
db.sqlite3

# Bỏ qua file chứa mật khẩu, biến môi trường
.env